<div class="container">
    <h1 class="display-4">{{title}}</h1>
    {{#with user}}
    <div class="label label-info">
        <label for="contextIdentifier">Context ID: {{ctx}}</label>
    </div>
    <div class="label label-info">
        <label for="exampleInputEmail1">Email: {{email}}</label>
    </div>
    <div class="label label-info">
        <label for="associateId">Associate ID: {{id}}</label>
    </div>
    <div class="label label-info">
        <label for="system_token">System User Token: {{system_token}}</label>
    </div>
    <div class="label label-info">
        <label for="system_token">RESTful API URL: {{webapi_url}}</label>
    </div>
    <div class="label label-info">
        <label for="system_token">SOAP API URL: {{netserver_url}}</label>
    </div>
    <div class="label label-info">
        <label for="access_token">Access Token:</label><br>
        <textarea name="access_token" id="access_token" cols="100" rows="8">{{info.accessToken}}</textarea>
    </div>
    <form action="/account/refresh" method="post" class="form-signin">
        <div class="label label-info">
            <label for="refresh_token">Refresh Token:</label><br>
            <textarea name="refresh_token" id="refresh_token" cols="100" rows="2">{{info.refreshToken}}</textarea>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Refresh</button>
    </form>
    <form action="/account/revoke" method="post" class="form-signin">
        <div class="label label-info">
            <label for="revoke_token">Revoke Token:</label><br>
            <textarea name="revoke_token" id="revoke_token" cols="100" rows="2">{{info.refreshToken}}</textarea>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Revoke</button>
    </form>
    {{/with}}
</div>