<div class="container">
    <h1 class="display-4">{{title}}</h1>
    {{#with webhook}}
    <div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            {{this.Name}}
        </dd>
        <dt class="col-sm-2">
            Events
        </dt>
        <dd class="col-sm-10">
            <ul>
            {{#each this.Events}}
            <li>{{this}}</li>
            {{/each}}
            </ul>
        </dd>
        <dt class="col-sm-2">
            TargetUrl
        </dt>
        <dd class="col-sm-10">
            {{this.TargetUrl}}
        </dd>
        <dt class="col-sm-2">
            Secret
        </dt>
        <dd class="col-sm-10">
            {{this.Secret}}
        </dd>
        <dt class="col-sm-2">
            State
        </dt>
        <dd class="col-sm-10">
            {{this.State}}
        </dd>
        <dt class="col-sm-2">
            Type
        </dt>
        <dd class="col-sm-10">
            {{this.Type}}
        </dd>
        <dt class="col-sm-2">
            Headers
        </dt>
        <dd class="col-sm-10">
            
            {{#with this.Headers}}
            <ul>
            {{#each this.item}}
                <li>{{this}}</li>
            {{/each}}
            </ul>
            {{/with}}
        </dd>
        <dt class="col-sm-2">
            Registered
        </dt>
        <dd class="col-sm-10">
            {{this.Registered}}
        </dd>
        <dt class="col-sm-2">
            Updated
        </dt>
        <dd class="col-sm-10">
            {{this.Updated}}
        </dd>
    </dl>
</div>
<div>
    <a href="/webhook/edit/{{this.WebhookId}}">Edit</a> |
    <a href="/webhook">Back to List</a>
</div>
{{/with}}
</div>